numpy

matplotlib
tqdm

torch
torchvision
torchaudio

sentence-transformers

python-terrier
pyterrier-dr

git+https://github.com/terrierteam/pyterrier_colbert.git

git+https://github.com/terrierteam/pyterrier_t5.git
